

<div class="container">
  <section class="mb-4" >
    <h2 style="text-align: center;">Registration Form</h2>
    <br>
        <div class="row">

            
           

<form class="form-signup" action="" method='post'>
  <div class="row">
    <div class="col">
     <label>First Name</label>
     <input type="text"  class="form-control" >
     
    </div>
    <div class=" col">
     <label>Last Name</label>
     <input type="text" class="form-control"  >
   
    </div>
    </div>
    <label>Email</label>
    <input class="form-control" type="email"  >
    
    <label>Mobile No</label>
    <input class="form-control" type="text"  >
    
    <div class="row">
    <div class="col">
     <label >Gender</label>
     <select class="form-control"  >
      <option selected>Male</option>
      <option>Female</option>
      <option>Other</option>
     </select>
     
   </div>
   <div class="col">
    <label >Birthdate</label>
    <input  class="form-control" >
    
   </div>
   </div>
   <label >Address</label>
   <input  class="form-control" >
   
   <div class="row">
     <div class="col">
   <label>Password</label>
          <input type="password"  class="form-control" >
      </div>
      <div class="col">
        <label> Confirm Password</label>
          <input type="cpassword"  class="form-control" >
      </div>
   </div>
          <br>
   <button class="btn btn-primary" type='submit'>Register</button>
  
</form>

            
        </div>
</section>
</div>
  <br>
  
