<div style="background-color: rgb(5, 42, 90) ">
  <br><br>

<div class="container">
  <section class="mb-4" >
    <h2 style="text-align: center; color: azure;font-family: 'Brush Script MT';font-size: 60px">Registration Form</h2>
    <br>
        <div class="row">

            
           

<form class="form-signup" [formGroup]="RegistrationForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col">
     <label>First Name</label>
     <input class="form-control" formControlName="fname" [ngClass]="{ 'is-invalid': submitted && f.fname.errors }" />
    <div *ngIf="submitted && f.fname.errors" class="invalid-feedback">
    <div style="color: red" *ngIf="f.fname.errors.required ">First Name is required </div>
    </div>
  </div>

    <div class=" col">
     <label>Last Name</label>
     <input  class="form-control" formControlName="lname" [ngClass]="{ 'is-invalid': submitted && f.lname.errors }" />
    <div *ngIf="submitted && f.lname.errors" class="invalid-feedback">
    <div style="color: red" *ngIf="f.lname.errors.required ">Last Name is required </div>
    </div>
   
    </div>
    </div>
    <label>Email</label>
    <input  class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
    <div style="color: red" *ngIf="f.email.errors.required">Email is required</div>
    <div style="color: red" *ngIf="f.email.errors.email">Email must be a valid email address</div>
    </div>
    
    <label>Mobile No</label>
    <input class="form-control" type="text" placeholder="123-45-678-90" formControlName="mnumber" [ngClass]="{ 'is-invalid': submitted && f.mnumber.errors }" />
    <div *ngIf="submitted && f.mnumber.errors" class="invalid-feedback">
    <div style="color: red" *ngIf="f.mnumber.errors.required">Mobile number is required</div>
    </div>

    <div class="row">
    <div class="col">
     <label >Gender</label>
     <select class="form-control" formControlName="gender" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
      <option selected>Male</option>
      <option>Female</option>
      <option>Other</option>
     </select>
     <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
      <div *ngIf="f.gender.errors.required">Title is required</div>
  </div>
     
   </div>
   <div class="col">
    <label >Birthdate</label>
    <input  class="form-control" formControlName="bday" [ngClass]="{ 'is-invalid': submitted && f.bday.errors }" />
    <div *ngIf="submitted && f.bday.errors" class="invalid-feedback">
    <div style="color: red" *ngIf="f.bday.errors.required ">Birthday is required </div>
    </div>
    
   </div>
   </div>
   <label >Address</label>
   <input class="form-control" formControlName="address" [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
    <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
    <div style="color: red" *ngIf="f.address.errors.required">Mobile number is required</div>
    </div>
   
  
   <label>Password</label>
   <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
   <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
       <div style="color: red" *ngIf="f.password.errors.required">Password is required</div>
       <div style="color: red" *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
   </div>

  
      
          <br>
   <button class="btn btn-primary">Register</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   <a routerLink="/login">Already have an account??? Login</a>
   <br>
</form>
<br>
            
        </div>
</section>
</div>
  <br>
</div>
  
<br><br>