<h2 style="text-align: center; color:rgb(5, 31, 66);font-family: 'Brush Script MT';font-size: 60px">About Us</h2>
    <br>
<br>

<div class= "container">
 <div class="row">
        <div class="col-md-6">
            <h2>We use high quality soy wax blend</h2>
Every candle is hand poured with a high quality soy wax blend grown from North American farmers. We’ve chosen soy wax as it gives candles a cleaner and longer burn.
        </div>
        <div class="col-md-6">
            <img src="https://cdn.shopify.com/s/files/1/0379/1505/files/HighQualitySoyBlend.jpg?8239112730325556237" style="box-shadow: 1px 1px 4px 1px rgba(119, 119, 119, 0.75); -moz-box-shadow: 1px 1px 4px 1px rgba(119, 119, 119, 0.75); -webkit-box-shadow: 1px 1px 4px 1px rgba(119, 119, 119, 0.75);">
        </div>
 </div>    

<br>
<br>

 <div class="row">    
        <div class="col-md-6">
            <img src="https://cdn.shopify.com/s/files/1/0379/1505/files/Fragrance2.jpg?2644850399538730685" style="box-shadow: 1px 1px 4px 1px rgba(119, 119, 119, 0.75); -moz-box-shadow: 1px 1px 4px 1px rgba(119, 119, 119, 0.75); -webkit-box-shadow: 1px 1px 4px 1px rgba(119, 119, 119, 0.75);">
        </div>
        <div class="col-md-6">
            <h2>Fragrance</h2>
Aromatic Suprises passionately captures the essence of creating scents designed to evoke memories and comfort. Working with top fragrance houses, we’ve created a unique blend of fragrances which will relax and rejuvenate. 
        </div>
</div>

<br>
<br>

<div class="row">
        <div class="col-md-6">
            <h2>Our Story</h2>
The Aromatic Suprises story began with a desire to create beautiful and natural candles with a memorable surprise. Life is about memories and we hope you will enjoy your candle. 
        </div>
        <div class="col-md-6">
            <img src="https://i.imgur.com/qJGgCwN.jpg" style="box-shadow: 1px 1px 4px 1px rgba(119, 119, 119, 0.75); -moz-box-shadow: 1px 1px 4px 1px rgba(119, 119, 119, 0.75); -webkit-box-shadow: 1px 1px 4px 1px rgba(119, 119, 119, 0.75);">
        </div>
</div>


</div>
<br>
<br>











