<div style="background-color: rgb(5, 42, 90) ">
  <br><br>

<div class="container">
    <section class="mb-4" >
      <h2 style="text-align: center;color: azure;font-family: 'Brush Script MT';font-size: 60px">Login</h2>
      <br>
          <div class="row">
  
  
  <form class="form-signup" action="" method='post'>

      
      <label>Email</label>
      <input class="form-control" type="email"  >
      
     
     <label>Password</label>
            <input type="password"  class="form-control" >
       
            <br>
     <button class="btn btn-primary" type='submit'>Login</button>&nbsp;&nbsp;&nbsp;
     <a routerLink="/registration" class="login_registration">Register</a>
    
  </form>
  
              
          </div>
  </section>
  </div>
    <br>
    
  </div>
  
  <br><br>