<div style="background-color: rgb(5, 42, 90) ">
  <br><br>

<div class="container">
    <section class="mb-4" >
      <h2 style="text-align: center;color: azure;font-family: 'Brush Script MT';font-size: 60px">Login</h2>
      <br>
          <div class="row">
  
  
  <form class="form-signup"  [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      
      <label>Email</label>
      <input  class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div style="color: red" *ngIf="f.email.errors.required">Email is required</div>
        <div style="color: red" *ngIf="f.email.errors.email">Email must be a valid email address</div>
        </div>
     
     <label>Password</label>
            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div style="color: red" *ngIf="f.password.errors.required">Password is required</div>
              <div style="color: red" *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
          </div>


            <br>
     <button class="btn btn-primary" type='submit'>Login</button>&nbsp;&nbsp;&nbsp;
     <a routerLink="/registration" class="login_registration">Register</a>
    
  </form>
  
              
          </div>
  </section>
  </div>
    <br>
    
  </div>
  
  <br><br>