

<div class="container">
    <section class="mb-4" >
      <h2 style="text-align: center;">Login Form</h2>
      <br>
          <div class="row">
  
  
  <form class="form-signup" action="" method='post'>

      
      <label>Email</label>
      <input class="form-control" type="email"  >
      
     
     <label>Password</label>
            <input type="password"  class="form-control" >
       
            <br>
     <button class="btn btn-primary" type='submit'>Login</button>
    
  </form>
  
              
          </div>
  </section>
  </div>
    <br>
    
  