.mb-4{
    border-radius: 5px;
    background-color: rgb(5, 31, 66) ;
    padding: 20px;
  }
  
  
  
  .form-signin , .form-signup , .card-body{
      border-radius: 5px;
      background-color: #f2f2f2;
     
      padding: 20px;
      align-content: center;
    }
  
    form {
      margin:0 auto;
      
    }
    input {
      margin-bottom:3px;
      padding:10px;
      width: 100%;
      border:1px solid #CCC
    }
    
    label {
      cursor:pointer
    }
    #form-switch {
      display:none
    }
    #register-form {
      display:none
    }
    #form-switch:checked~#register-form {
      display:block
    }
    #form-switch:checked~#login-form {
      display:none
    }
  
    input[type=submit]:hover {
      background-color: #45a049;
    }
  
   