
.card-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    font-weight: 300;
    font-style: normal;
    color: #303336;
    margin-bottom: 20px;
}

.card {
    height: 470px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 40px 40px -20px #8fc7d544;
    overflow: hidden;
}

.card .card-top {
    height: 236px;
    font-weight: 300;
    font-style: normal;
    font-size: 1em;
    color: #303336;
    background-color: #d1e8ee;
    overflow: hidden;
}

.card .card-top a {
    display: block;  
    height: 100%; 
     
}

.card .card-top a img {
    width: 100%;
    height: inherit;
    object-fit: cover;
    object-position: center; 
    transition: 300ms;
}

.card .card-content {
    padding: 30px;
}

.card .card-content .tag {
    font-weight: 700;
    letter-spacing: 2px;
}



.card .tag-gift {
    color: #0a5dc9;
}

.card .title {
    color: #303336;
    font-weight: 700;
    transition: 300ms;
}

.card p {
    color: #7B8591;
    margin-top: 20px;
}


/* ---------------------------- */
/* Content Style | Hover Effect */
/* ---------------------------- */

.card .card-top a img:hover {
    opacity: .75;
}

.card .title:hover {
    color: #303336bb;
}





body:hover .designer {
    opacity: 1;
}
/*////////////////////////////////////////*/



.product-grid6 {
    height: 470px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 40px 40px -20px #8fc7d544;
    overflow: hidden;
}

.product-grid6 .product-image6 {
    height: 236px;
    font-weight: 300;
    font-style: normal;
    font-size: 1em;
    color: #303336;
   
    overflow: hidden;
}

.product-grid6 .product-image6 a {
    display: block;  
    height: 100%; 
     
}

.product-grid6 .product-image6 a img {
    width: 100%;
    height: inherit;
    object-fit: cover;
    object-position: center; 
    transition: 300ms;
}

.product-grid6  .product-content{
    padding: 30px;
    background-color: #e6e6e6;
    overflow: hidden;
}


.product-grid6  .product-content .tag {
    font-weight: 700;
    letter-spacing: 2px;
}


.product-grid6 .product-image6 a img:hover {
    opacity: .75;
}

.price  a:hover{
  color:rgb(114, 112, 112);
}

