<div class="container">

    <section class="card-container">
        <div class="card">
            <div class="card-top">
                <a href=""><img src="assets/zodiac/capricorn.jpg"></a>
            </div>
            <div class="card-content">
                <h6 class="tag tag-gift">Zodiac Candles</h6>
                <a href=""><h3 class="title">Capricorn</h3></a>
                <p>Capricorn have a Distinct Ability to Read Peoples’ Eyes.</p>
            </div>
        </div>

        <div class="card">
            <div class="card-top">
                <a href=""><img src="assets/zodiac/aquarius.jpg"></a>
            </div>
            <div class="card-content">
                <h6 class="tag tag-gift">Zodiac Candles</h6>
                <a href=""><h3 class="title">Aquarius</h3></a>
                <p>Aquarius think like an adult but runs around like a free child. They have a good heart.</p>
            </div>
        </div>

        <div class="card">
            <div class="card-top">
                <a href=""><img src="assets/zodiac/pisces.jpg"></a>
            </div>
            <div class="card-content">
                <h6 class="tag tag-gift">Zodiac Candles</h6>
                <a href=""><h3 class="title">Pisces</h3></a>
                <p>Sarcasm is the first language of a pisces and cursing is probably the second.</p>
            </div>
        </div> 
    </section>

    <br>
    <br>

    <section class="card-container">
        <div class="card">
            <div class="card-top">
                <a href=""><img src="assets/zodiac/aries.jpg"></a>
            </div>
            <div class="card-content">
                <h6 class="tag tag-gift">Zodiac Candles</h6>
                <a href=""><h3 class="title">Aries</h3></a>
                <p>Are very honest people, their words can easily offend others.</p>
            </div>
        </div>

        <div class="card">
            <div class="card-top">
                <a href=""><img src="assets/zodiac/taurus.jpg"></a>
            </div>
            <div class="card-content">
                <h6 class="tag tag-gift">Zodiac Candles</h6>
                <a href=""><h3 class="title">Taurus</h3></a>
                <p>Taurus don't have an attitude, they have a personality most cant handle.</p>
            </div>
        </div>

        <div class="card">
            <div class="card-top">
                <a href=""><img src="assets/zodiac/gemini.jpg"></a>
            </div>
            <div class="card-content">
                <h6 class="tag tag-gift">Zodiac Candles</h6>
                <a href=""><h3 class="title">Gemini</h3></a>
                <p>Gemini can either be your biggest blessing or worst nightmare.</p>
            </div>
        </div> 
    </section>

    <br>
    <br>

    <section class="card-container">
        <div class="card">
            <div class="card-top">
                <a href=""><img src="assets/zodiac/cancer.jpg"></a>
            </div>
            <div class="card-content">
                <h6 class="tag tag-gift">Zodiac Candles</h6>
                <a href=""><h3 class="title">Cancer</h3></a>
                <p>Cancers are very observant. Whether they realize it or not, they notice nearly everything.</p>
            </div>
        </div>

        <div class="card">
            <div class="card-top">
                <a href=""><img src="assets/zodiac/leo.jpg"></a>
            </div>
            <div class="card-content">
                <h6 class="tag tag-gift">Zodiac Candles</h6>
                <a href=""><h3 class="title">Leo</h3></a>
                <p>If you want a good argument start one with a leo.</p>
            </div>
        </div>

        <div class="card">
            <div class="card-top">
                <a href=""><img src="assets/zodiac/virgo.jpg"></a>
            </div>
            <div class="card-content">
                <h6 class="tag tag-gift">Zodiac Candles</h6>
                <a href=""><h3 class="title">Virgo</h3></a>
                <p>Virgos are cool on the outside and sensitive within.</p>
            </div>
        </div> 
    </section>

    <br>
    <br>

    <section class="card-container">
        <div class="card">
            <div class="card-top">
                <a href=""><img src="assets/zodiac/libra.jpg"></a>
            </div>
            <div class="card-content">
                <h6 class="tag tag-gift">Zodiac Candles</h6>
                <a href=""><h3 class="title">Libra</h3></a>
                <p>Libra are over thinkers.</p>
            </div>
        </div>

        <div class="card">
            <div class="card-top">
                <a href=""><img src="assets/zodiac/scorpio.jpg"></a>
            </div>
            <div class="card-content">
                <h6 class="tag tag-gift">Zodiac Candles</h6>
                <a href=""><h3 class="title">Scorpio</h3></a>
                <p>A scorpio will probe until they reach the truth.</p>
            </div>
        </div>

        <div class="card">
            <div class="card-top">
                <a href=""><img src="assets/zodiac/sagittarius.jpg"></a>
            </div>
            <div class="card-content">
                <h6 class="tag tag-gift">Zodiac Candles</h6>
                <a href=""><h3 class="title">Sagittarius</h3></a>
                <p>Sagittarius are social creatures but do not like to be part of all circles.</p>
            </div>
        </div> 
    </section>


    <br>
    <br>

</div>






