<div class="container">

    <section class="card-container">
        <div class="card">
            <div class="card-top">
                <a href=""><img src="assets/ring/charcoal.jpg"></a>
            </div>
            <div class="card-content">
                <h6 class="tag tag-gift">Ring Bath Bombs</h6>
                <a href=""><h3 class="title">Charcoal</h3></a>
                <p>The blend of essential oils, detoxifying minerals from Epsom salt, as well as the adsorptive qualities of activated charcoal helps remove toxins, free radicals, and heavy metals that irritate your skin.</p>
            </div>
        </div>

        <div class="card">
            <div class="card-top">
                <a href=""><img src="assets/ring/honey.jpg"></a>
            </div>
            <div class="card-content">
                <h6 class="tag tag-gift">Ring Bath Bombs</h6>
                <a href=""><h3 class="title">Honey Comb</h3></a>
                <p>Honey, milk, corn starch and baking soda sooth and calm any skin irritations, organic oils nourish the skin, and Mandarin removes stress and anxiety.</p>
            </div>
        </div>

        <div class="card">
            <div class="card-top">
                <a href=""><img src="assets/ring/princess.jpg"></a>
            </div>
            <div class="card-content">
                <h6 class="tag tag-gift">Ring Bath Bombs</h6>
                <a href=""><h3 class="title">Princess</h3></a>
                <p>There is a Princess inside all of us.</p>
            </div>
        </div> 
    </section>

    <br>
    <br>

    <section class="card-container">
        <div class="card">
            <div class="card-top">
                <a href=""><img src="assets/ring/rainbow.jpg"></a>
            </div>
            <div class="card-content">
                <h6 class="tag tag-gift">Ring Bath Bombs</h6>
                <a href=""><h3 class="title">Rainbow</h3></a>
                <p>The greater your storm, the brighter your Rainbow.</p>
            </div>
        </div>

        <div class="card">
            <div class="card-top">
                <a href=""><img src="assets/ring/sapphire.jpg"></a>
            </div>
            <div class="card-content">
                <h6 class="tag tag-gift">Ring Bath Bombs</h6>
                <a href=""><h3 class="title">Sapphire</h3></a>
                <p>The Sapphire stone sits highest on the throne.</p>
            </div>
        </div>

        <div class="card">
            <div class="card-top">
                <a href=""><img src="assets/ring/snowcharcoal.jpg"></a>
            </div>
            <div class="card-content">
                <h6 class="tag tag-gift">Ring Bath Bombs</h6>
                <a href=""><h3 class="title">Snow Charcoal</h3></a>
                <p>The blend of essential oils, detoxifying minerals from Epsom salt, as well as the adsorptive qualities of activated charcoal helps remove toxins, free radicals, and heavy metals that irritate your skin.</p>
            </div>
        </div> 
    </section>

    <br>
    <br>


    








