<div class="container">

<div class="main">

    <section class="card-container">
        <div class="card">
            <div class="card-top">
                <a href=""><img src="assets/about1.jpg"></a>
            </div>
            <div class="card-content">
                <h6 class="tag tag-wax">Hign Quality</h6>
                <a href=""><h3 class="title">Soy Wax</h3></a>
                <p>Every candle is hand poured with a high quality soy wax blend grown from North American farmers. We’ve chosen soy wax as it gives candles a cleaner and longer burn.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-top">
                <a href=""><img src="assets/about2.jpg"></a>
            </div>
            <div class="card-content">
                <h6 class="tag tag-fragrance">Fragrance</h6>
                <a href=""><h3 class="title">Exotic Fragrances</h3></a>
                <p>Aromatic Suprises passionately captures the essence of creating scents designed to evoke memories and comfort. Working with top fragrance houses, we’ve created a unique blend of fragrances which will relax and rejuvenate.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-top">
                <a href=""><img src="assets/about3.jpg"></a>
            </div>
            <div class="card-content">
                <h6 class="tag tag-gift">Our Story</h6>
                <a href=""><h3 class="title">Gifts</h3></a>
                <p>The Aromatic Suprises story began with a desire to create beautiful and natural candles with a memorable surprise. Life is about memories and we hope you will enjoy your candle.</p>
            </div>
        </div>
    </section>

    <br>
    <hr>
    <br>









    
    <br>
    <section class="card-container">
        <div class="card">
            <div class="card-top">
                <a href=""><img src="assets/about1.jpg"></a>
            </div>
            <div class="card-content">
                <h6 class="tag tag-wax">Hign Quality</h6>
                <a href=""><h3 class="title">Soy Wax</h3></a>
                <p>Every candle is hand poured with a high quality soy wax blend grown from North American farmers. We’ve chosen soy wax as it gives candles a cleaner and longer burn.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-top">
                <a href=""><img src="assets/about2.jpg"></a>
            </div>
            <div class="card-content">
                <h6 class="tag tag-fragrance">Fragrance</h6>
                <a href=""><h3 class="title">Exotic Fragrances</h3></a>
                <p>Aromatic Suprises passionately captures the essence of creating scents designed to evoke memories and comfort. Working with top fragrance houses, we’ve created a unique blend of fragrances which will relax and rejuvenate.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-top">
                <a href=""><img src="assets/about3.jpg"></a>
            </div>
            <div class="card-content">
                <h6 class="tag tag-gift">Our Story</h6>
                <a href=""><h3 class="title">Gifts</h3></a>
                <p>The Aromatic Suprises story began with a desire to create beautiful and natural candles with a memorable surprise. Life is about memories and we hope you will enjoy your candle.</p>
            </div>
        </div>
    </section>
<br>
<br>

</div>
</div>
