<h2 style="text-align: center; color:rgb(5, 31, 66);font-family: 'Brush Script MT';font-size: 60px">Photo Gallery</h2>
    <br>

<div class="container">

	<div class="gallery">

		<div class="gallery-item">
			<img class="gallery-image" src="assets/photogallery/1.jpg">
		</div>

		<div class="gallery-item">
			<img class="gallery-image" src="assets/photogallery/12.jpg">
		</div>

		<div class="gallery-item">
			<img class="gallery-image" src="assets/photogallery/2.jpeg">
        </div>
        
        <div class="gallery-item">
			<img class="gallery-image" src="assets/photogallery/11.jpg">
		</div>

		<div class="gallery-item">
			<img class="gallery-image" src="assets/photogallery/3.jpg">
		</div>

		<div class="gallery-item">
			<img class="gallery-image" src="assets/photogallery/10.jpg">
        </div>
        
        <div class="gallery-item">
			<img class="gallery-image" src="assets/photogallery/4.jpg">
		</div>

		<div class="gallery-item">
			<img class="gallery-image" src="assets/photogallery/9.jpg">
		</div>

		<div class="gallery-item">
			<img class="gallery-image" src="assets/photogallery/5.jpg">
        </div>
        
        <div class="gallery-item">
			<img class="gallery-image" src="assets/photogallery/8.jpg">
		</div>

		<div class="gallery-item">
			<img class="gallery-image" src="assets/photogallery/6.jpg">
		</div>

		<div class="gallery-item">
			<img class="gallery-image" src="assets/photogallery/7.jpg">
		</div>

		

	</div>

</div>