<h2 style="text-align: center; color:rgb(5, 31, 66);font-family: 'Brush Script MT';font-size: 60px">Bracelet Bath Bombs</h2>
    <br>
<div class="container">

    <section class="card-container">
        <div class="card">
            <div class="card-top">
                <a href=""><img src="assets/bracelet/autumn.jpg"></a>
            </div>
            <div class="card-content">
                <h6 class="tag tag-gift">Bracelet Bath Bombs</h6>
                <a href=""><h3 class="title">Autumn</h3></a>
                <p>Autumn shows us how beautiful it is to let things go</p>
            </div>
        </div>

        <div class="card">
            <div class="card-top">
                <a href=""><img src="assets/bracelet/candycane.jpg"></a>
            </div>
            <div class="card-content">
                <h6 class="tag tag-gift">Bracelet Bath Bombs</h6>
                <a href=""><h3 class="title">Candy Cane</h3></a>
                <p>Sweet but twisted does that make me a candy cane?? </p>
            </div>
        </div>

        <div class="card">
            <div class="card-top">
                <a href=""><img src="assets/bracelet/blueberry.jpg"></a>
            </div>
            <div class="card-content">
                <h6 class="tag tag-gift">Bracelet Bath Bombs</h6>
                <a href=""><h3 class="title">Blueberry</h3></a>
                <p>A healthy outside starts from healthy inside.</p>
            </div>
        </div> 
    </section>

</div>

<br>
<br>